*{margin:0px;padding:0px;}
body{background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #FF7A00 0%, #000000 100%), linear-gradient(20deg, #241E92 0%, #241E92 30%, #5432D3 calc(30% + 1px), #5432D3 35%, #7B6CF6 calc(35% + 1px), #7B6CF6 50%, #E5A5FF calc(50% + 1px), #E5A5FF 100%), linear-gradient(120deg, #110133 0%, #110133 40%, #00918E calc(40% + 1px), #00918E 60%, #4DD599 calc(60% + 1px), #4DD599 70%, #FFDC34 calc(70% + 1px), #FFDC34 100%);
background-blend-mode: overlay, hard-light, overlay, normal;background-size:cover;text-align:center;background-position:bottom center;}




div.LoginForm{padding-left:40px;padding-right:40px;background: hsla(307, 41%, 17%, 0.2);margin:auto;margin-top: 20px;height: 10px 10px;width: 500px;
	border-radius: 8px;margin-bottom: 20px;transition: all 1s;box-shadow: 0 12px 12px 0 (0,0,0,0.7);}


  div.inputField input{border:none;;outline: none;padding: 6px;border-radius: 4px;}


  div.terms{color:white;opacity: 0.7}


div.LoginForm button {padding:8px;background:#333;border:1px solid grey;color: white;opacity: 0.9;border-radius:2px;letter-spacing:1.5px;}
div.LoginForm button:hover{background:black;border:1px solid orange;letter-spacing: 1px;}

div.header{border-bottom: 2px solid #00ff2b;display: inline-block;padding-bottom:11px;margin-top: 50px;font-size:24px;color:white;}


.have h2{font-style: italic;font-size:16px;margin-top:20px;margin-bottom:20px;color:orange;}

.have h2 a{text-decoration:initial;color:#00ff2b;}